* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7F9;
    color: #1F2933;    
}



.sidebar {
    width: 198px;
    height: 100vh;
    position: fixed;
    background-color: #0F2A30; 
    border-right: 1px solid #0c2227;
    transition: width 0.3s ease;
    overflow: hidden;
}


.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    border-bottom: 1px solid #163a42;
}


.logo-img {
    width: 100px;
    height: 75px;
    object-fit: contain;
    margin-bottom: 6px;
}


.logo-text {
    font-size: 18px;
    font-weight: 600;
    color: #F25C2A; 
    letter-spacing: 0.5px;
}


.sidebar a {
    display: block;
    color: #ffffff; 
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}


.sidebar a.active {
    background-color: #F25C2A; 
    color: #ffffff;
}


.sidebar a:hover:not(.active) {
    background-color: #163a42;
}


.sidebar .settings {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 14px;
    color: #cbd5e1;
}



.content {
    margin-left: 200px;
    padding: 20px;
}

.sub-heading {
    margin: 10px 0 25px;
    color: #6B7280;
}



.cards {
    margin-left: 200px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards .card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-title {
    color: #1F2933;
    margin-bottom: 10px;
    font-weight: 500;
}

.positive {
    color: #16A34A;
    font-size: 13px;
}

/* Card header */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.card-icon {
    font-size: 16px;
    color: #F25C2A; 
}



.charts {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.chart-box1 {
    height: 400px;
    margin-left: 210px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.chart-box2 {
    margin-right: 12px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.chart-box1 .plots,
.chart-box2 .plots {
    height: 300px;
    background: #F1F3F8;
    border-radius: 8px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6B7280;
}