<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Plans</title>
    <link rel="stylesheet" href="../styling/diet_plans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" >

</head>
<body>
        <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <span class="logo">FitStudio</span>
            <i class="fa-solid fa-bars toggle-btn" id="toggleBtn"></i>
        </div>
        <a class="active" href="#">Dashboard</a>
        <a href="members.html">Members</a>
        <a href="diet_plans.html">Diet Plans</a>
        <a href="staff.html">Staff</a>
        <a href="membership.html">Membership</a>
        <a href="reports.html">Reports</a>

        <div class="settings">⚙ Settings</div>
    </div>

</body>
</html>