body{
    margin: 0;
    font-family : Arial, sans-serif;
}

.sidebar{
    width: 200px;
    height: 100vh;
    background-color: #1e1e2f;
    color: white;
    position: fixed;
}

.sidebar h2{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid gray;
}

.sidebar a{
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: #333;
}

.main{
    margin-left: 200px;
    padding: 20px;
}